<ion-list>
  <ion-item>
    <ion-label>Seguidores</ion-label>
    <ion-badge color="primary">22k</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Curtidas</ion-label>
    <ion-badge color="secondary">118k</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Classificação</ion-label>
    <ion-badge color="tertiary">34k</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Avisos</ion-label>
    <ion-badge color="warning">70</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Notificações</ion-label>
    <ion-badge color="danger">1000</ion-badge>
  </ion-item>
</ion-list>