<ion-app>
  <ion-content class="ion-padding">
    <div id="container">
      <ion-list [inset]="true">
        <ion-item (click)="onClick('Contato')">
          <ion-label>Contato</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Endereço')">
          <ion-label>Endereço</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Competências')">
          <ion-label>Competências</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Escolaridade')">
          <ion-label>Escolaridade</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Idiomas')">
          <ion-label>Idiomas</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-app>
<!-- <ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          Portifólio 1
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu>


  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-list [inset]="true">
        <ion-item (click)="onClick('Contato')">
          <ion-label>Contato</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Endereço')">
          <ion-label>Endereço</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Competências')">
          <ion-label>Competências</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Escolaridade')">
          <ion-label>Escolaridade</ion-label>
        </ion-item>
        <ion-item (click)="onClick('Idiomas')">
          <ion-label>Idiomas</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-app> -->